.btn {
	width: 100%;
	min-height: 50px;
	padding: 0 15px;
	color: var(--fc-light);
	font-weight: 700;
	background: var(--primary);
	border: none;
	border-radius: 5px;
	transition: var(--transition);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	@include mouse {

		&:hover {
			box-shadow: 0 3px 10px rgba(#000, 0.3);
			transform: translateY(-3px);
		}

		&:active {
			box-shadow: none;
			transform: none;
		}
	}
}
