.certificates {
	padding: 60px 0 100px;
	color: var(--fc-light);
	background: var(--bg-dark);

	@include xs {
		padding: 40px 0 60px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 2.2fr;
		gap: 60px;

		@include hg {
			display: flex;
			flex-direction: column;
		}

		@include xs {
			gap: 40px;
		}
	}

	&__title {

		.title__text {
			font-size: 40px;

			@include hg {
				font-size: 32px;
			}

			@include sm {
				font-size: 26px;
			}

			@include xs {
				font-size: 20px;
			}
		}

	}

	&__text {
		margin-top: 100px;
		line-height: 1.35;
		text-align: justify;

		@include hg {
			margin-top: 40px;
		}

		@include xs {
			margin-top: 20px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include hg {
			grid-template-columns: repeat(4, 1fr);
		}

		@include lg {
			grid-template-columns: repeat(3, 1fr);
		}

		@include sm {
			grid-template-columns: 1fr 1fr;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
		background: var(--bg-light);

		@include xs {
			max-width: 300px;
			margin: 0 auto;
		}
	}

	&__link {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 20px;
		width: 100%;
		height: 100%;
		padding: 30px;
		overflow: hidden;

		@include md {
			padding: 20px;
		}

		@include xs {
			padding: 30px;
		}

		@include mouse {

			&:hover {

				> svg {
					color: var(--primary);
				}

				.certificates__download {

					svg {
						transform: translateY(0);
					}
				}
			}
		}

		> svg {
			width: 5vw;
			height: auto;
			color: var(--fc-dark);
			transition: var(--transition);

			@include md {
				width: 60px;
			}
		}
	}

	&__label {
		grid-row: 2/3;
		grid-column: 1/2;
		align-self: end;
		width: fit-content;
		color: var(--fc-dark);
		font-size: 20px;
		font-family: var(--font-secondary);

		@include md {
			grid-column: span 2;
			width: 100%;
		}
	}

	&__download {
		grid-row: 2/3;
		grid-column: 2/3;
		align-self: end;
		justify-self: end;

		@include md {
			grid-row: auto;
			align-self: start;
		}
	}
}
