.clients {
	margin-top: 60px;
	padding-bottom: 115px;
	overflow: hidden;
	background: url(assets/images/clients-bg.jpg) no-repeat right bottom / 35vw auto;

	@include md {
		padding-bottom: 0;
		background: none;
	}

	@include xs {
		margin-top: 20px;
	}

	&__container {
		padding-top: 60px;
		border-top: 1px solid var(--fc-grey);
		border-radius: 10px;

		@include md {
			padding: 60px 0;
		}

		@include sm {
			padding: 30px 0;
		}
	}

	&__slider {
		margin-top: 75px;
		padding: 0 20px;

		@include hg {
			overflow: visible;
		}

		@include md {
			margin-top: 50px;
			padding: 0;
		}

		@include xs {
			margin-top: 30px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: auto;
		overflow: hidden;
		background: var(--bg-light);
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		box-shadow: 0 5px 20px rgba(#000, 0.2);
		transition: var(--transtion);

		@include sm {
			max-width: 560px;
		}
	}

	&__img {
		width: 100%;
		aspect-ratio: 7/5;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin-top: 40px;
		padding: 0 15px 30px;

		@include hg {
			gap: 20px;
			margin-top: 20px;
		}

		@include xs {
			margin-top: 15px;
		}
	}

	&__year {
		color: var(--primary);
		font-weight: 700;
		font-size: 24px;
		font-family: var(--font-secondary);

		@include lg {
			font-size: 20px;
		}
	}

	&__place {
		margin-top: 30px;

		@include hg {
			margin-top: 0;
		}
	}

	&__label {
		margin: 10px 0 20px;
		font-weight: 700;
		font-size: 26px;

		@include hg {
			margin: -10px 0 0;
			font-size: 20px;
		}

		@include lg {
			font-size: 18px;
		}
	}

	&__desc {
		margin-top: auto;
	}

	&__panel {
		margin: 20px 0 0 10px;

		@include xs {
			margin: 20px auto 0;
		}
	}
}
