.faq {
	padding: 110px 0;
	color: var(--fc-light);
	background: var(--fc-dark);

	@include md {
		padding: 90px 0;
	}

	@include xs {
		padding: 60px 0;
	}

	&__container {
		display: grid;
		grid-template-columns: 575px 1fr;
		gap: 100px;

		@include hg {
			grid-template-columns: 1fr 1fr;
			gap: 40px;
		}

		@include lg {
			grid-template-columns: 1fr 2fr;
		}

		@include md {
			display: flex;
			flex-direction: column;
			gap: 80px;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 575px;
		height: 100%;
		padding: 155px 30px;
		overflow: hidden;
		text-decoration: none;

		@include hg {
			width: 48%;
		}

		@include lg {
			width: 32%;
			padding: 100px 15px;
		}

		@include md {
			position: static;
			width: 100%;
			height: auto;
			aspect-ratio: 2/1;
		}

		@include sm {
			aspect-ratio: 4/3;
		}

		@include xs {
			aspect-ratio: 3/4;
		}

		@include mouse {

			&:hover {

				.faq__link-button {

					&::before {
						transform: translateY(0);
						opacity: 1;
					}

					svg {
						transform: translateY(0);
					}
				}

				.faq__img {
					scale: 1.01;
				}
			}
		}
	}

	&__link-text {
		position: relative;
		z-index: var(--ui-index-1);
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
		width: min-content;
		font-size: 32px;
		font-family: var(--font-secondary);
		text-transform: uppercase;

		@include lg {
			font-size: 26px;
		}
	}

	&__link-button {
		position: relative;
		padding: 0 20px 5px 20px;
		background: none;
		border: none;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			border-bottom: 2px solid var(--fc-light);
			border-radius: 10px;
			content: "";

			@include mouse {
				transform: translateY(5px);
				opacity: 0;
				transition: var(--transition);
			}
		}

		svg {
			color: var(--fc-light);

			@include mouse {
				transform: translateY(-5px);
				transition: var(--transition);
			}
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: var(--transition);

		@include md {
			height: auto;
			aspect-ratio: 2/1;
		}

		@include sm {
			aspect-ratio: 4/3;
		}

		@include xs {
			aspect-ratio: 3/4;
		}
	}

	&__wrapper {
		grid-column: 2/3;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 45px;
		margin-top: 55px;

		@include hg {
			gap: 30px;
		}
	}

	&__item {
		padding: 30px;
		border-top: 1px solid var(--fc-light);
		border-bottom: 1px solid var(--fc-light);
		border-radius: 10px;

		@include xs {
			padding: 20px 10px;
		}
	}

	&__button {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		color: var(--fc-light);
		font-weight: 500;
		font-size: 20px;
		text-align: left;
		background: none;
		border: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		@include sm {
			font-size: 16px;
		}

		&.active {

			span {
				transform: rotate(90deg);
			}

			+ .faq__answer {
				margin-top: 30px;

				@include xs {
					margin-top: 20px;
				}
			}
		}

		span {
			transition: var(--transition);
		}
	}

	&__answer {
		max-height: 0;
		margin: 0;
		overflow: hidden;
		line-height: 1.3;
		transition: var(--transition);

		@include sm {
			font-size: 14px;
		}
	}
}
