.input {
	width: 100%;
	min-height: 75px;
	padding: 30px;
	color: var(--fc-dark);
	font-size: 14px;
	background: none;
	border: 1px solid var(--fc-grey);
	border-radius: 5px;
	transition: var(--transition);

	@include md {
		min-height: 50px;
		padding: 15px 20px;
	}

	&:hover,
	&:focus {
		border-color: var(--fc-dark);
	}

	&::placeholder {
		color: var(--fc-dark);
	}

	&--light {
		color: var(--fc-light);
		border-color: var(--fc-light);

		&:hover,
		&:focus {
			border-color: var(--primary);
		}

		&::placeholder {
			color: var(--fc-light);
		}
	}
}
