.main-text {
	margin-top: 60px;
	padding-bottom: 30px;

	@include xs {
		margin-top: 40px;
	}

	&__content {
		margin-top: 40px;
		font-size: 18px;
		line-height: 1.5;

		@include hg {
			font-size: 16px;
			line-height: 1.35;
		}

		@include xs {
			margin-top: 20px;
			font-size: 14px;
		}
	}
}
