.news-card {
	display: flex;
	flex-direction: column;
	height: auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 5px 20px rgba(#000, 0.2);

	&__img {
		width: 100%;
		aspect-ratio: 4/3;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: 100%;
		margin-top: 20px;
		padding: 0 15px 30px;
	}

	&__date {
		color: var(--primary);
		font-weight: 700;
		font-family: var(--font-secondary);
	}

	&__link {
		font-weight: 700;
		font-size: 20px;
		@include ui-link(var(--fc-dark));

		@include xs {
			font-size: 18px;
		}
	}

	&__text {
		margin-top: auto;
		line-height: 1.35;
		text-align: justify;

		@include xs {
			font-size: 14px;
		}
	}
}
