.product-desc {
	margin-top: 100px;
	padding-bottom: 175px;
	overflow: hidden;
	color: var(--fc-light);
	background:
		url(assets/images/product-desc-bg.png) no-repeat calc(50% + 460px) 20px / 1800px auto,
		linear-gradient(to bottom, var(--bg-light) 0%, var(--bg-light) 130px, var(--bg-dark) 130px, var(--bg-dark) 100%) no-repeat;

	@include hg {
		margin-top: 60px;
		background-position:
			calc(50% + 400px) 60px,
			0 0;
		background-size:
			1300px auto,
			100%;
	}

	@include sm {
		padding: 55px 0 460px;
		background: var(--bg-dark) url(assets/images/product-desc-bg.png) no-repeat 50% bottom / 850px auto;
	}

	@include xs {
		margin-top: 30px;
		padding: 50px 0;
		background-position: 50% 130px;
	}

	&__wrapper {
		position: relative;
		max-width: 765px;
		padding: 240px 0 0 130px;

		@include hg {
			max-width: 725px;
			padding-top: 170px;
		}

		@include lg {
			max-width: 625px;
			padding-left: 0;
		}

		@include sm {
			max-width: none;
			padding: 0;
		}

		&::before {
			position: absolute;
			top: 280px;
			left: -370px;
			width: 370px;
			height: 40px;
			background: url(assets/images/logo-main.svg) no-repeat 50% / contain;
			transform: rotate(-90deg);
			transform-origin: top right;
			content: "";

			@include hg {
				top: 200px;
			}

			@include lg {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 85px;
		margin-top: 60px;

		@include hg {
			gap: 40px;
		}

		@include sm {
			gap: 60px;
		}

		@include xs {
			margin-top: 460px;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr 375px;
		gap: 30px;

		@include sm {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		span {
			margin-right: auto;
			font-family: var(--font-secondary);
			text-transform: uppercase;
		}
	}

	&__item-text {
		font-size: 14px;
		line-height: 1.65;
	}
}
