.st-ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	padding: 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 30px;
		font-family: var(--font-primary);

		&::before {
			position: absolute;
			top: 50%;
			left: 10px;
			width: 5px;
			height: 5px;
			background: var(--primary);
			border-radius: 50%;
			transform: translateY(-50%);
			content: "";

			@include sm {
				top: 10px;
			}
		}
	}
}
