.title {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include hg {
		gap: 10px;
	}

	&--colored {

		.title__text {
			color: var(--primary);
			font-size: 36px;

			@include hg {
				font-size: 32px;
			}

			@include sm {
				font-size: 26px;
			}

			@include xs {
				font-size: 20px;
			}
		}
	}

	&__before {
		color: var(--primary);
	}

	&__text {
		margin: 0;
		font-weight: 400;
		font-size: 64px;
		font-family: var(--font-secondary);
		line-height: 1;
		text-transform: uppercase;

		@include hg {
			font-size: 40px;
		}

		@include sm {
			font-size: 32px;
		}

		@include xs {
			font-size: 24px;
		}
	}
}
