//main
// @import "blocks/breadcrumbs";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/socials";
@import "blocks/title";

// cards
// @import "blocks/post-card";

// blocks
// @import "blocks/about";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/helmet";
@import "blocks/image-link";
@import "blocks/parameters";
@import "blocks/product-desc";
@import "blocks/welcome";
