//main
// @import "blocks/breadcrumbs";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/slider-panel";
@import "blocks/socials";
@import "blocks/title";

// cards
// @import "blocks/post-card";

// blocks
// @import "blocks/about";
@import "blocks/application";
@import "blocks/chimera";
@import "blocks/clients";
@import "blocks/faq";
@import "blocks/footer";
@import "blocks/geography";
@import "blocks/header";
@import "blocks/helmet";
@import "blocks/image-link";
@import "blocks/parameters";
@import "blocks/product-desc";
@import "blocks/welcome";
