//main
// @import "blocks/breadcrumbs";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/slider-panel";
@import "blocks/socials";
@import "blocks/title";

// cards
@import "blocks/news-card";

// blocks
@import "blocks/about";
@import "blocks/application";
@import "blocks/certificates";
@import "blocks/chimera";
@import "blocks/clients";
@import "blocks/contacts";
@import "blocks/faq";
@import "blocks/footer";
@import "blocks/geography";
@import "blocks/header";
@import "blocks/helmet";
@import "blocks/image-link";
@import "blocks/image-text";
@import "blocks/map";
@import "blocks/news-slider";
@import "blocks/news";
@import "blocks/parameters";
@import "blocks/product-desc";
@import "blocks/welcome";
