:root {
	// FONTS
	--font-primary: "Manrope", "Arial", sans-serif;
	--font-secondary: "Tektur", "Arial", sans-serif;

	//COLORS
	--primary: #0c7dc3;
	--primary-rgb: 12, 125, 195;
	--secondary: #26a2ef;
	--secondary-rgb: 38, 162, 239;

	--fc-dark: #000;
	--fc-grey: #8e8e8e;
	--fc-light: #fff;

	--bg-light: #f5f5f6;
	--bg-light-rgb: 245, 245, 246;
	--bg-dark: #000;

	//Transition
	--transition: all 0.3s ease;

	//Z-index
	--ui-index-1: 1; // Для наползающих элементов в общем потоке
	--ui-index-2: 2; // Для наползающих элементов в общем потоке
	--ui-index-3: 3; // Для масок
	--ui-index-4: 4; // Для сайдбаров
	--ui-index-5: 5; // Для модалок
	--ui-index-6: 6; // Для эдементов, перекрывающих все
}
